* { 
	padding:0;
	margin: 0;
}
a {
	text-decoration: none;
}
ul { 
	list-style: none
}

body {
	background-color: #f9f9f9;
} 
.wrapper {
	background-color: #FFFFFF;
	margin-left: 154px;
	margin-right: 152px; 
	min-height: 960px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
	overflow: hidden;
}
.header {
	margin: 50px 48px 40px 45px;
}
.logo {
	margin-bottom: 40px;
}
.menu-top{
	display: flex;
	padding-left: 5px;
	height: 40px;
	background-color: #ffffff;
	background-image: linear-gradient(to top, #444343 0%, #5e5e5e 100%); 
}
.menu-top-items {
	padding-top: 12px;
	margin-right: 40px;
	padding-bottom: 9px;
	
}
.menu-items-list {
	padding-right: 20px;
	padding-left: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
}
.top-hovered {
	background-color: #ffffff;
	background-image: linear-gradient(to top, #2e2e2e 0%, #4a4a4a 100%)	;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;;
}
.container {
	min-height: 580px;
	margin: 40px 48px 60px 46px;
	overflow: hidden;
}
.left-menu {
	width: 240px;
	float: left;
}
.left-menu-items {
	border-right: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	border-top: 1px solid #c8c8c8;
	padding-left: 22px;
	padding-top: 16px;
	padding-bottom: 14px;
	
}
.last {
	border-bottom: 1px solid #c8c8c8;
}
.left-menu-list {
	color: #656363;
	font-size: 13px;
	color: #656363;
}
.left-hovered-menu {
	background-color: #f9f9f9;
}
.left-hovered-menu-list {
	margin-left: 21px;
	color: #2c2c2c;
}
.content {
	float: right;
	width: 658px;
	min-height: 560px;
}
.image {
	padding: 47px 89px 46px;
	border: 1px solid #c8c8c8;;
}
.article {
	margin: 39px 29px 0px 24px;
	color: #2c2c2c;
	font-family: "Open Sans";
	font-size: 13px;
}
.footer {
	margin: 0px 48px 60px 46px;
	height: 40px;
	padding-left: 25px;
	padding-right: 26px;
	background-color: #e1e1e1;
	background-color: #ffffff;
	background-image: linear-gradient(to top, #e1e1e1 0%, #e1e1e1 100%);
	overflow: hidden;
}
.menu-bottom {
	margin-right: 90px;
	float:left;
	padding-top: 12px;
	padding-bottom: 10px;
}
.menu-bottom-items {
	color: #2c2c2c;
	font-family: "Open Sans";
	font-size: 13px;
}
.menu-bottom-right {
	float: right;
	padding-top: 12px;
	padding-bottom: 10px;
}
.underlined {
	text-decoration: underline;
}
.menu-inline{
	margin: 50px 48px 40px 45px;
	font-size: 0;
	padding-left: 5px;
	height: 40px;
	background-color: #ffffff;
	background-image: linear-gradient(to top, #444343 0%, #5e5e5e 100%); 
}
.menu-inline-items {
	display: inline-block;
	padding-top: 12px;
	margin-right: 40px;
	padding-bottom: 9px;
	
}
.menu-items-list {
	padding-right: 20px;
	padding-left: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
}