@font-face {
    font-family: Dunkirk;
    src: url(../fonts/Dunkirk.otf);
}
@font-face {
    font-family: DroidSans;
    src: url(../fonts/DroidSans.ttf);
}
@font-face {
	font-family: "Trebushet MS";
	src: url(../fonts/Trebuchet MS.ttf);
}